@{
    ViewBag.Title = "Demo";
}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<h2>Demo</h2>

<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
    function drawVisualization() {
        // Create and populate the data table.

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Weight');
        
        data.addRows([
            [new Date(2012, 01, 01), 104.321369502511],
            [new Date(2012,01,02), 100],
            [new Date(2012,01,08), 94],
            [new Date(2012,01,12), 96]
        ]);

        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('visualization')).
            draw(data, {curveType: "function",
                    width: 500, height: 400,
                    pointSize: 10,
                    vAxis: { maxValue: 120, minValue: 80 },
                }
            );
    }
      

    google.setOnLoadCallback(drawVisualization);
</script>

<div id="visualization" style="width: 500px; height: 400px;"></div>
