@{
    ViewBag.Title = "Index";
}

<h2>Welcome to WeightMeas</h2>

<p>Simple application to help you keep track of your weight and your body measurement.</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/9Un6VoT99Z8" frameborder="0" allowfullscreen></iframe>

<!-- Render Link -->
@Html.ActionLink("Register here","Register","Home")

<!-- Display list of features and reasons to register -->
<ul>
    <li>Simple authentication for you smart phone</li>
    <li>Track your weight</li>
    <li>Track your fat percentage</li>
    <li>Track your water percentage</li>
    <li>Track your muscle weight</li>
    <li>Free of charge!</li>
</ul>

<p>
    The web application is still under development, but is open for users. I'm very open for suggestions 
    and features, so email me at tiddan (at) gmail.com.
</p>




