@{
    ViewBag.Title = "Index";
}

<h2>Welcome to WeightMeas</h2>

<p>Simple application to help you keep track of your weight and your body measurement.</p>

@Html.ActionLink("Register here","Register","Home")

<ul>
    <li>Simple authentication for you smart phone</li>
    <li>Track your weight</li>
    <li>Track your fat percentage</li>
    <li>Track your water percentage</li>
    <li>Track your muscle weight</li>
    <li>Free of charge!</li>
</ul>

<h3>Example of a user graph showing a user's weight development over a year.</h3>
<img alt="Graph example" src="/Content/images/graphexample.png" width="535"/>

<h3>Simple statistics example</h3>
<img alt="Simple stats" src="/Content/images/statsexample.png"/>

<p>
    The web application is still under development, but is open for users. I'm very open for suggestions 
    and features, so email me at tiddan (at) gmail.com.
</p>




