body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
	background: #444466;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#UserPanel {
	position: absolute;
	left: 450px;
	top: 50px;
	height: 100px;
	width: 180px;
	padding: 10px;
	background: #8888AA;
	border-bottom: black 2px solid;
	border-top-right-radius: 20px;
}

#Menu {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 100px;
	width: 380px;
	padding: 10px;
	background: #8888AA;
	border-bottom: black 2px solid;
	border-top-left-radius: 20px;
}

#Main {
	position: absolute;
	padding: 20px;
	left: 50px;
	top: 150px;
	width: 560px;
	background: #EEEEFF;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* Main Link meny styles
-----------------------------------------------------------*/

/* Top navigation link definition */
#Menu a
{
	float: left;
	color: #000000;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	border: black 2px solid;
	width: 80px;
	height: 40px;
	background: #FFFFFF;
	text-align: center;
}
#Menu a:hover
{
	color: #FF0000;
	text-decoration: underline;
}
#Menu a:visited 
{
	color: #000000;	
	text-decoration: none;
}

#InfoPanel table 
{
    border: black 1px solid;
    padding: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: white; 
}

#InfoPanel td {
    padding-right: 30px;
}

img {
    border: black 1px solid;
    padding: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: white;
}